.hero {
  color: #fff;
  margin-bottom: 40px;

  @media (max-width: 440px) {
    margin-bottom: 20px;
  }

  // .hero__inner

  &__inner {
    background-color: #141414;
    border-radius: 24px;
    padding: 60px 40px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 100px;
    position: relative;
    overflow: hidden;

    @media (max-width: 1080px) {
      display: flex;
      flex-direction: column-reverse;
      gap: 40px;
    }

    @media (max-width: 768px) {
      border-radius: 14px;
      padding: 24px 20px;
    }

    @media (max-width: 440px) {
      gap: 30px;
    }
  }

  // .hero__start

  &__start {
  }

  // .hero__content

  &__content {
    position: relative;
    z-index: 2;
  }

  // .hero__content-title

  &__content-title {
    font-size: clamp(1.75rem, 0.964rem + 2.86vw, 3.25rem);
    font-family: var(--font-unbounded);

    span {
      font-family: var(--font-unbounded);
      background: linear-gradient(
        146deg,
        rgba(95, 207, 229, 1) 0%,
        rgba(15, 85, 97, 1) 100%
      );
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
    }

    @media (max-width: 1080px) {
      display: none;
    }
  }

  // .hero__content-subtitle

  &__content-subtitle {
    font-size: clamp(1rem, 0.869rem + 0.48vw, 1.25rem);
    font-weight: 400;
    margin: 12px 0 0 0;

    @media (max-width: 1080px) {
      display: none;
    }
  }

  // .hero__list

  &__list {
    display: flex;
    flex-direction: column;
    gap: 10px;

    padding-left: 32px;
    padding-top: 32px;

    @media (max-width: 1080px) {
      padding-left: 0;
      padding-top: 0;
      max-width: 720px;
      margin: 0 auto;
    }

    @media (max-width: 440px) {
      gap: 6px;
    }
  }

  // .hero__list-item

  &__list-item {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  // .hero__list-icon

  &__list-icon {
  }

  // .hero__list-subtitle

  &__list-subtitle {
    line-height: 1;
    font-weight: 500;
    position: relative;
    bottom: 2px;
  }

  // .hero__work

  &__work {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    margin-top: 40px;
    justify-content: center;

    @media (max-width: 1080px) {
      max-width: 720px;
      margin-left: auto;
      margin-right: auto;
    }

    @media (max-width: 440px) {
      margin-top: 26px;
    }
  }

  // .hero__work-item

  &__work-item {
    display: inline-flex;
    padding: 12px 32px;
    position: relative;
    overflow: hidden;

    svg {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
    }

    img {
      min-width: 60px;
      opacity: 0.8;
    }
  }

  // .hero__end

  &__end {
  }

  // .hero__change

  &__change {
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
    z-index: 2;

    @media (max-width: 1080px) {
      max-width: 720px;
      margin: 0 auto;
    }
  }

  // .hero__change-item

  &__change-item {
    padding: 20px;
    border: 1px solid #ffffff73;
    border-radius: 24px;
    padding: 20px;
    position: relative;

    @media (max-width: 440px) {
      border-radius: 12px;
      padding: 12px;
    }
  }

  // .hero__info

  &__info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 20px;
    margin-bottom: 32px;

    border-bottom: 1px solid #ffffff86;

    @media (max-width: 440px) {
      padding-bottom: 12px;
      margin-bottom: 22px;
    }
  }

  // .hero__info-item

  &__info-item {
    font-size: clamp(0.75rem, 0.685rem + 0.24vw, 0.875rem);
    font-weight: 500;

    @media (max-width: 440px) {
      font-size: 10px;
    }

    span {
      font-size: clamp(0.875rem, 0.744rem + 0.48vw, 1.125rem);
      color: var(--primaru-color);
      font-weight: 900;

      background: linear-gradient(
        146deg,
        rgba(95, 207, 229, 1) 0%,
        rgba(15, 85, 97, 1) 100%
      );
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;

      @media (max-width: 440px) {
        font-size: 11px;
        font-weight: 500;
        margin-left: 4px;
      }
    }
  }

  // .hero__info-price

  &__info-price {
  }

  // .hero__user

  &__user {
  }

  // .hero__option

  &__option {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    cursor: pointer;
  }

  // .hero__icon

  &__icon {
  }

  // .hero__septitle

  &__septitle {
    text-align: right;
    text-decoration: underline;
    font-weight: 400;
    font-size: clamp(0.75rem, -0.6rem + 2vw, 1rem);

    @media (max-width: 440px) {
      position: absolute;
      bottom: -10px;
      right: 0;

      background-color: #000;
      color: #fff;
      padding: 4px 12px;
      border-radius: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: underline;
      font-size: 11px;
      text-decoration: none;

      background: radial-gradient(150% 150% at 8.37% 0, #5c5c5c 0, #000 100%);
    }
  }
}

.hero__user {
  display: grid;
  grid-template-columns: 3fr 1fr;

  @media (max-width: 440px) {
    grid-template-columns: 1fr;
  }
}

.hero__select {
  cursor: pointer;
  position: relative;

  .top {
    display: flex;
    align-items: center;
    gap: 4px;
  }
}

.hero__select-item {
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 16px;
  white-space: nowrap;

  @media (max-width: 440px) {
    font-size: 14px;
  }
}

.hero__dropdown {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;

  margin-top: 10px;
  overflow: auto;
  max-height: 236px;
  white-space: nowrap;

  transform: translateY(10px);
  opacity: 0;
  pointer-events: none;
  visibility: hidden;

  z-index: 100;

  @media (max-width: 440px) {
    width: 200px !important;
    max-height: 189px !important;
  }

  &.active {
    transform: translateY(0);
    opacity: 1;
    pointer-events: all;
    visibility: visible;
  }

  &-item {
    padding: 10px 12px 8px 12px;
    background-color: #fff;
    color: #000;
    font-weight: 900;
    cursor: pointer;

    &:hover {
      background-color: #e2e2e2;
    }
  }
}

.hero__icon {
  display: flex;
  padding: 12px;
  border-radius: 12px;
  background-color: #fff;
  min-width: 60px;

  @media (max-width: 440px) {
    min-width: 53px;
  }

  img {
    width: 36px;
  }
}

.hero__icon-sell {
  img {
    width: 36px !important;
    height: 36px !important;
    border-radius: 100px;
    display: block;
    overflow: hidden;

    @media (max-width: 440px) {
      width: 28px !important;
      height: 28px !important;
    }
  }
}

.hero__select {
  .top {
    position: relative;
  }
}

.svg-icon.active {
  transform: rotate(180deg);
}

.svg-icon {
  svg {
    position: relative;
    top: 2px;
    @media (max-width: 440px) {
      width: 16px;
      height: 16px;
    }
  }
}

.currency-input {
  font-weight: 900;
  margin-top: 12px;
  font-size: clamp(1.25rem, 0.923rem + 1.19vw, 1.875rem);
  color: #fff;

  @media (max-width: 440px) {
    max-width: 50%;
  }

  &::placeholder {
    font-weight: 900;
    margin-top: 12px;
    font-size: clamp(1.25rem, 0.923rem + 1.19vw, 1.875rem);
    color: #fff;
    opacity: 0.4;
  }
}

.hero__change-sell {
  background: radial-gradient(150% 150% at 8.37% 0, #5c5c5c 0, #000 100%);
}

.hero__dropdown-item {
  display: flex;
  align-items: center;
  gap: 12px;
  border-top: 1px solid #00000027;

  .icon {
    img {
      width: 28px;
      border-radius: 100px;
      display: block;
      overflow: hidden;
    }
  }
}

.hero__dropdown-cur {
  font-weight: 500;
  position: relative;
  bottom: 2px;
  font-size: clamp(0.75rem, 0.685rem + 0.24vw, 0.875rem);

  font-size: 14px;
  @media (max-width: 440px) {
    font-size: 10px;
    position: relative;
  }
}

.hero__dropdown {
  width: 300px;
}

.hero__change-sell .hero__info {
  grid-template-columns: 1fr;
}

.hero__dropdown-put {
  max-height: 282px;

  .hero__dropdown-item {
    &:nth-child(1) {
      .icon {
        position: relative;

        &::before {
          position: absolute;
          content: "";
          bottom: -4px;
          right: -4px;
          background-image: url("../images/trx.png");
          background-size: cover;
          background-position: center;
          width: 16px;
          height: 16px;
        }
      }
    }

    &:nth-child(2) {
      .icon {
        position: relative;

        &::before {
          position: absolute;
          content: "";
          bottom: -4px;
          right: -4px;
          background-image: url("../images/eth-icon.png");
          background-size: cover;
          background-position: center;
          width: 16px;
          height: 16px;
        }
      }
    }

    &:nth-child(3) {
      .icon {
        position: relative;

        &::before {
          position: absolute;
          content: "";
          bottom: -4px;
          right: -4px;
          background-image: url("../images/bnb-icon.png");
          background-size: cover;
          background-position: center;
          width: 16px;
          height: 16px;
        }
      }
    }

    &:nth-child(4) {
      .icon {
        position: relative;

        &::before {
          position: absolute;
          content: "";
          bottom: -4px;
          right: -4px;
          background-image: url("../images/btc-icon.png");
          background-size: cover;
          background-position: center;
          width: 16px;
          height: 16px;
        }
      }
    }

    &:nth-child(5) {
      .icon {
        position: relative;

        &::before {
          position: absolute;
          content: "";
          bottom: -4px;
          right: -4px;
          background-image: url("../images/ltc-icon.png");
          background-size: cover;
          background-position: center;
          width: 16px;
          height: 16px;
        }
      }
    }

    &:nth-child(6) {
      .icon {
        position: relative;

        &::before {
          position: absolute;
          content: "";
          bottom: -4px;
          right: -4px;
          background-image: url("../images/bnb-icon.png");
          background-size: cover;
          background-position: center;
          width: 16px;
          height: 16px;
        }
      }
    }

    &:nth-child(7) {
      .icon {
        position: relative;

        &::before {
          position: absolute;
          content: "";
          bottom: -4px;
          right: -4px;
          background-image: url("../images/eth-icon.png");
          background-size: cover;
          background-position: center;
          width: 16px;
          height: 16px;
        }
      }
    }

    &:nth-child(8) {
      .icon {
        position: relative;

        &::before {
          position: absolute;
          content: "";
          bottom: -4px;
          right: -4px;
          background-image: url("../images/trx.png");
          background-size: cover;
          background-position: center;
          width: 16px;
          height: 16px;
        }
      }
    }

    &:nth-child(9) {
      .icon {
        position: relative;

        &::before {
          position: absolute;
          content: "";
          bottom: -4px;
          right: -4px;
          background-image: url("../images/doge.svg");
          background-size: cover;
          background-position: center;
          width: 16px;
          height: 16px;
        }
      }
    }

    &:nth-child(10) {
      .icon {
        position: relative;

        &::before {
          position: absolute;
          content: "";
          bottom: -4px;
          right: -4px;
          background-image: url("../images/ton-icon.png");
          background-size: cover;
          background-position: center;
          width: 16px;
          height: 16px;
        }
      }
    }
  }
}

.btn__hero-send {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
  color: #fff;
  border-radius: 100px;
  margin-top: 24px;
  background: linear-gradient(
    86deg,
    rgb(95, 207, 229) 0%,
    rgb(27, 126, 143) 100%
  );
  font-weight: 900;
  font-size: clamp(0.875rem, 0.81rem + 0.24vw, 1rem);
  text-transform: uppercase;
  cursor: pointer;
  position: relative;

  &:hover {
    opacity: 0.9;
  }

  @media (max-width: 1080px) {
    max-width: 720px;
    margin-left: auto;
    margin-right: auto;
  }

  @media (max-width: 440px) {
    padding: 16px 0;
    font-size: 12px;
    letter-spacing: 1px;
    margin-top: 20px;
  }
}

.hero__dropdown-sell {
  z-index: 100;

  @media (max-width: 1080px) {
    max-height: 282px;
  }
}

.hero__content.hero__content-ph {
  display: none;

  @media (max-width: 1080px) {
    max-width: 720px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
  }

  @media (max-width: 1080px) {
    display: flex;
    flex-direction: column;
    order: 1;

    .hero__content-title {
      display: block;
    }

    .hero__content-subtitle {
      display: block;
    }
  }

  @media (max-width: 440px) {
    .hero__content-subtitle {
      font-size: 12px;
    }
  }
}

.currency-put {
  @media (max-width: 440px) {
    font-size: 12px;
    letter-spacing: 1px;
  }
}

.currency span {
  @media (max-width: 440px) {
    font-size: 12px;
    letter-spacing: 1px;
  }
}

.hero__work-item img {
  @media (max-width: 440px) {
    opacity: 0.8;
    width: 40px;
    min-width: auto;
    transform: scale(1.5);
  }
}

.hero__work {
  @media (max-width: 440px) {
    margin-top: 26px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.btn-open {
  img {
    @media (max-width: 440px) {
      width: 26px;
    }
  }
}

.currency span {
  max-width: 42px;
  overflow: hidden;
  display: inline-block;
  white-space: nowrap;

  @media (max-width: 440px) {
    max-width: 35px;
  }
}

.btn-onchange {
  background: linear-gradient(
    86deg,
    rgb(95, 207, 229) 0%,
    rgb(27, 126, 143) 100%
  );
  width: 60px;
  height: 60px;
  border-radius: 100px;

  svg {
    transform: scale(0.6);
    position: relative;
    top: 2px;
  }

  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;

  @media (max-height: 1080px) {
    width: 46px;
    height: 46px;
  }
}
