.popup-change-user {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
  z-index: 10;

  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  overflow: auto;
  align-items: start;

  @media (max-width: 440px) {
    padding: 20px;
  }

  &.active {
    visibility: visible;
    opacity: 1;
    pointer-events: all;
  }
}

.popup-change-user {
}
.container-xl {
  @media (max-width: 1080px) {
    padding-top: 60px !important;
  }

  @media (max-width: 440px) {
    padding-top: 20px !important;
  }
}
.container {
}
.popup-change-user-order {
  font-size: 42px;
  font-weight: 500;
  margin-bottom: 40px;

  text-align: center;

  @media (max-width: 1080px) {
    text-align: left;
    font-size: 32px;
    margin-top: 0;
  }

  @media (max-width: 440px) {
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
  }
}
.popup-change-user-content {
  display: grid;
  grid-template-columns: 1.6fr 4fr;
  gap: 20px;
  padding-left: 20px;
  padding-right: 20px;
  color: #1f1f1f;

  @media (max-width: 1080px) {
    grid-template-columns: 1fr;
    padding-left: 0;
    padding-right: 0;
  }

  .start-content {
    background-color: #edf1f5;
    padding: 20px;
    border-radius: 24px;

    @media (max-width: 768px) {
      padding: 20px;
      border-radius: 14px;
    }

    @media (max-width: 440px) {
      padding: 14px;
    }
  }

  .end-content {
    background-color: #edf1f5;
    padding: 40px 20px;
    border-radius: 24px;

    @media (max-width: 768px) {
      padding: 20px;
      border-radius: 14px;
    }

    @media (max-width: 440px) {
      padding: 20px 14px;
    }
  }
}

.popup-change-user-content-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 155%;
  margin-bottom: 20px;
}
.popup-change-user-content-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}
.list-reset {
}
.popup-change-user-content-list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.popup-change-user-content-list-item-id {
}
.popup-change-user-content-list-item-course {
}
.popup-change-user-content-change {
}
.popup-change-user-content-change-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  .start {
  }
}
.popup-change-user-content-change-title {
  display: flex;
  justify-content: space-between;
  gap: 4px;
  margin-bottom: 4px;

  font-size: 14px;
  font-weight: 300;
  white-space: nowrap;

  font-weight: 400;
  text-decoration: underline;

  @media (max-width: 440px) {
    font-size: 12px;
  }
}
.popup-change-user-content-change-usdt {
  font-weight: bold;
}
.end {
}
.popup-change-user-content-change-icon {
  height: 30px;

  img {
    width: 30px;
    height: 30px;
    border-radius: 100px;
    overflow: hidden;
  }
}
.popup-change-user-content-bank {
  padding-bottom: 10px;
  margin-bottom: 24px;
  border-bottom: 1px solid #1f1f1f77;
}
.popup-change-user-content-titles {
  margin-bottom: 4px;
}
.card-number {
}
.card-email {
}
.card-telegram {
}
.top {
}
.actuallity {
}
.actuallity-top {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-bottom: 24px;
  border-bottom: 1px solid #1f1f1f5e;
  margin-bottom: 20px;

  .start {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  h2 {
    font-weight: 400;
    font-size: 20px;

    @media (max-width: 440px) {
      font-size: 14px;
    }
  }
}
.actuallity-bottom-count {
  font-size: 14px;
  font-weight: 900;

  @media (max-width: 440px) {
    font-size: 13px;
  }
}
.actuallity-top-start-time {
  @media (max-width: 440px) {
    font-size: 13px;
  }
}
.actuallity-top-time {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;

  @media (max-width: 440px) {
    font-size: 14px;
  }
}
.actuallity-top-start-time {
  font-weight: 900;
}
.actuallity-bottom {
}
.bottom {
}
.bottom-send {
  p {
    font-size: 14px;
    font-weight: 400;
    margin-top: 30px;
    margin-bottom: 30px;

    @media (max-width: 440px) {
      font-size: 12px;
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }
}
.bottom-send-title {
  text-align: center;
  font-weight: 500;
  margin-bottom: 32px;
}
.bottom-send-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px !important;

  @media (max-width: 1080px) {
    grid-template-columns: 1fr;
  }

  @media (max-width: 440px) {
    gap: 20px !important;
  }
}
.bottom-send-content-bank-content {
  .input {
    padding: 20px;
    width: 100%;
    height: 60px;
    border-radius: 100px;
    background-color: #fff;

    color: #1f1f1f;

    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 1080px) {
      height: 50px;
      padding: 14px;
    }

    @media (max-width: 440px) {
      padding: 14px 20px !important;
    }
  }
}
.bottom-send-content-bank {
}
.bottom-send-content-bank-content-title {
  margin-bottom: 14px;

  @media (max-width: 440px) {
    font-size: 13px;
    font-weight: 400;
  }
}
.input {
}
.bottom-send-content-bank-acc {
  height: 30px;

  display: flex;
  align-items: center;
  gap: 10px;

  span {
    font-size: 11px !important;
    font-weight: 500;
    position: relative;

    @media (max-width: 440px) {
      font-size: 12px;
    }
  }

  img {
    width: 30px;
    height: 30px;
    border-radius: 100px;
    overflow: hidden;

    @media (max-width: 440px) {
      width: 24px;
      height: 24px;
    }
  }
}
.bottom-send-content-bank-acc-money {
  @media (max-width: 440px) {
    font-size: 14px;
  }
}
.bottom-send-content-card {
}
.bottom-send-content-bank-acc-card {
  @media (max-width: 440px) {
    font-size: 14px;
  }
}
.bottom-send-content-mail {
}
.bottom-send-content-bank-acc-mail {
  @media (max-width: 440px) {
    font-size: 14px;
  }
}
.bottom-send-content-telegram {
}
.bottom-send-content-bank-acc-telegram {
  @media (max-width: 440px) {
    font-size: 14px;
  }
}
.btn-reset {
}
.btn-send-acc-user {
}
.title-count-send {
  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

.btn-change-user {
  background: linear-gradient(
    146deg,
    rgb(95, 207, 229) 0%,
    rgb(15, 85, 97) 100%
  );
  color: #fff;
  font-weight: 700;
  font-size: 24px;
  border-radius: 300px;
  width: 100%;
  padding: 20px 0;

  height: 60px;
  margin-top: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  @media (max-width: 440px) {
    font-size: 18px;
    height: 50px;
    font-weight: 400;
  }
}

.btn-pop {
  display: grid;
  grid-template-columns: 4fr 1fr;
}

@media (max-width: 440px) {
  .bottom-send-title {
    text-align: center;
    font-weight: 900;
    margin-bottom: 20px;
    font-size: 16px;
  }
}

.btn-close-pop-change {
  display: flex;
  align-items: center;
  gap: 8px;

  position: absolute;
  top: 30px;
  left: 30px;

  opacity: 0.7;
  z-index: 11;

  @media (max-width: 768px) {
    left: 20px;
    top: 20px;
  }

  &:hover {
    opacity: 1;
  }

  svg {
    path {
      stroke-width: 1px;
    }
  }

  span {
    font-weight: 500;
    font-size: 16px;

    @media (max-width: 440px) {
      font-size: 13px;
    }
  }
}

.time-btnes {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.form-content-cryptos-btn {
  @media (max-width: 440px) {
    max-width: 100%;
  }
}

.popup-change-user-content {
  @media (max-width: 440px) {
    margin-bottom: 40px !important;

    .qr-image-scan-img {
      width: 180px;
    }
  }
}

.form-content-cryptos-btnsdel {
  background: none;
  color: rgba(197, 24, 24, 0.815);
}

.rules-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.form-content-cryptos-btn {
  @media (max-width: 440px) {
    height: 0;
    font-size: 14px;
  }
}

.rules-list {
  background: #11b470;
  color: #fff;
  padding: 20px;
  border-radius: 14px;
  font-weight: 400;
}

.rules-title {
  text-decoration: underline;

  font-size: 12px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.bottom-send p {
  @media (max-width: 440px) {
    line-height: 144%;
  }
}
