@font-face {
  font-family: "Manrope";
  src: url("../fonts/Manrope-Regular.woff2") format("woff2");

  font-display: swap;
}

@font-face {
  font-family: "Manrope";
  src: url("../fonts/Manrope-ExtraLight.woff2") format("woff2");
  font-weight: 200;

  font-display: swap;
}

@font-face {
  font-family: "Manrope";
  src: url("../fonts/Manrope-Medium.woff2") format("woff2");
  font-weight: 500;

  font-display: swap;
}

@font-face {
  font-family: "Manrope";
  src: url("../fonts/Manrope-SemiBold.woff2") format("woff2");
  font-weight: 600;

  font-display: swap;
}

@font-face {
  font-family: "Manrope";
  src: url("../fonts/Manrope-ExtraBold.woff2") format("woff2");
  font-weight: bold;

  font-display: swap;
}

@font-face {
  font-family: "Manrope";
  src: url("../fonts/Manrope-Light.woff2") format("woff2");
  font-weight: 300;

  font-display: swap;
}

@font-face {
  font-family: "Manrope";
  src: url("../fonts/Manrope-Bold.woff2") format("woff2");
  font-weight: bold;

  font-display: swap;
}

@font-face {
  font-family: "Unbounded";
  src: url("../fonts/Unbounded-ExtraBold.woff2") format("woff2");
  font-weight: bold;

  font-display: swap;
}

@font-face {
  font-family: "Unbounded";
  src: url("../fonts/Unbounded-Black.woff2") format("woff2");
  font-weight: 900;

  font-display: swap;
}

@font-face {
  font-family: "Unbounded";
  src: url("../fonts/Unbounded-Bold.woff2") format("woff2");
  font-weight: bold;

  font-display: swap;
}

@font-face {
  font-family: "Unbounded";
  src: url("../fonts/Unbounded-SemiBold.woff2") format("woff2");
  font-weight: 600;

  font-display: swap;
}

@font-face {
  font-family: "Unbounded";
  src: url("../fonts/Unbounded-ExtraLight.woff2") format("woff2");
  font-weight: 200;

  font-display: swap;
}

@font-face {
  font-family: "Unbounded";
  src: url("../fonts/Unbounded-Medium.woff2") format("woff2");
  font-weight: 500;

  font-display: swap;
}

@font-face {
  font-family: "Unbounded";
  src: url("../fonts/Unbounded-Light.woff2") format("woff2");
  font-weight: 300;

  font-display: swap;
}

@font-face {
  font-family: "Unbounded";
  src: url("../fonts/Unbounded-Regular.woff2") format("woff2");

  font-display: swap;
}

:root {
  // COLOR
  --primary-gradient: linear-gradient(
      90deg,
      rgba(126, 165, 233, 1) 0%,
      rgba(18, 174, 214, 1) 100%
    )
    rgb(126, 165, 233);

  --primaru-color: #457ddf;

  // FONT SIZE

  /* FONT FAMILY */
  --font-unbounded: "Unbounded";
  --font-manrope: "Manrope";
}

html {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.2s ease-in-out;

  font-family: var(--font-manrope);
}

body {
  margin: 0;
  padding: 0;
  background-color: #ffffffcb;
}

img {
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

a {
  color: #000;
  text-decoration: none;
}

.wrapper {
  overflow-x: hidden;
}

.list-reset {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.btn-reset {
  background: none;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
  cursor: pointer;

  @media (min-width: 1280px) {
    &:hover {
      opacity: 0.8;
    }
  }
}

.input-reset {
  background: none;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
}

// Custom

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;

  @media (max-width: 440px) {
    padding: 0 12px;
  }
}

.icon-logo {
  display: flex;
  align-items: center;
  gap: 20px;

  .end {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  // .icon__logo-title

  .icon__logo-title {
    font-family: var(--font-unbounded);
    background: linear-gradient(
      146deg,
      rgba(95, 207, 229, 1) 0%,
      rgba(15, 85, 97, 1) 100%
    );
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    line-height: 1;
  }

  // .icon__logo-slogan

  .icon__logo-slogan {
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 1;
    font-size: 10px;
  }
}

/* Для большинства современных браузеров */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Для Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

// cir-img
.cir {
  pointer-events: none !important;
}

.cir-img {
  position: absolute;
  top: -90%;
  left: -40%;
  opacity: 0.8;
  z-index: 1;

  @media (max-width: 440px) {
    top: -34%;
  }
}

.cir-img-2 {
  position: absolute;
  bottom: -100%;
  right: -50%;
  opacity: 0.8;
  z-index: 1;
}

.title {
  text-align: center;
  font-size: 30px;
  font-weight: 700;
}

.title {
  display: flex;
  align-items: center;
  gap: 20px;

  font-size: clamp(1rem, 0.476rem + 1.9vw, 2rem);
  font-weight: 400;
  font-family: var(--font-unbounded);

  @media (max-width: 440px) {
    gap: 12px;
  }

  .sep-line {
    display: inline-block;
    width: 100%;
    background-color: #000;
    height: 1px;
    position: relative;
    top: 4px;

    @media (max-width: 440px) {
      top: 1px;
    }
  }
}

.service-title {
  flex-direction: row-reverse;
}

// carousel

.carousel {
  margin: 0 auto;
  padding: 20px 0;
  max-width: 100%;
  overflow: hidden;
  display: flex;

  margin-bottom: 40px;

  img {
    opacity: 0.6;
    cursor: pointer;
    &:hover {
      opacity: 1;
    }
  }

  @media (max-width: 440px) {
    margin-bottom: 20px;
  }
}

.carousel {
  > * {
    flex: 0 0 64%;

    @media (max-width: 1920px) {
      flex: 0 0 121%;
    }

    @media (max-width: 1280px) {
      flex: 0 0 180%;
    }

    @media (max-width: 1280px) {
      flex: 0 0 220%;
    }

    @media (max-width: 768px) {
      flex: 0 0 300%;
    }

    @media (max-width: 440px) {
      flex: 0 0 300%;
    }
  }
}

.carousel-cr {
  > * {
    @media (max-width: 440px) {
      flex: 0 0 625%;

      .crypto-item {
        width: 100% !important;

        display: flex;
        align-items: center;
        gap: 10px;
        padding: 8px;
        align-items: center;
        justify-content: center;
      }

      .crypto-reserve,
      .crypto-name {
        margin-bottom: 0;
        font-size: 13px;
      }

      .crypto-icon {
        margin-bottom: 0;
      }
    }
  }
}

/* Группируем карты для лучшей структуры. */
.group {
  display: flex;
  gap: 40px;
  /* Добавляем отступ справа, чтобы создать зазор между последней и первой картой. */
  padding-right: 20px;

  @media (max-width: 440px) {
    gap: 20px;
  }
}

.group {
  will-change: transform; /* Мы должны быть добры к браузеру - пусть он знает, что мы будем анимировать. */
  animation: scrolling 150s linear infinite;
}

@keyframes scrolling {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.location-text {
  font-family: var(--font-unbounded) !important;
  font-weight: 400 !important;
  font-size: 12px !important;
  line-height: 135% !important;
}

.loc-title {
  flex-direction: row-reverse;
}

.btn-blue {
  background: linear-gradient(
    146deg,
    rgb(95, 207, 229) 0%,
    rgb(15, 85, 97) 100%
  );
  font-family: var(--font-manrope);
  font-size: 14px;
  font-weight: 400;
  padding: 20px 32px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  color: #fff;
  font-family: var(--font-manrope);
  line-height: 1;
  cursor: pointer;
}

.mobile-country-list_countryName_text {
  font-family: var(--font-unbounded) !important;
  font-size: 20px !important;
  font-weight: 500 !important;
}

@media (max-width: 440px) {
  .currency span {
    position: relative;
    left: 40px;
  }
}

.pay-info-currencys-valut-span {
  @media (max-width: 440px) {
    margin-top: 4px;
    display: block;
  }
}

.wrapper {
  &.actives {
    transition: none;
    filter: blur(10px);
  }
}

.form-content-cryptos-btn {
  height: 60px;
  margin-top: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
}

//

.user__form-war {
  background: linear-gradient(
    86deg,
    rgb(95, 207, 229) 0%,
    rgb(27, 126, 143) 100%
  );
  -webkit-background-clip: text; /* Для браузеров, поддерживающих WebKit */
  background-clip: text;
  color: transparent; /* Делаем текст прозрачным, чтобы градиент был виден */

  font-size: 16px;
  margin-top: 10px;
  display: block;

  @media (max-width: 768px) {
    font-size: 11px;
  }
}

.btn-save-me {
  cursor: pointer !important;
}

.inp-repeat {
  border: 1px solid #1b7e8f !important;

  &::placeholder {
    color: #1b7e8f !important;
  }
}

.user-form {
  position: relative;
}

.form-logo {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  opacity: 0.08;
  max-width: 80%;
  width: 500px;

  @media (max-width: 1080px) {
    width: 300px;
  }

  @media (max-width: 440px) {
    width: 400px;
  }
}

.user__form-inputs {
  position: relative;
  z-index: 22;
}

.user-panel {
  display: flex;
  align-items: center;
  gap: 8px;

  &:hover {
    opacity: 0.8;
  }
}

.end-user-panel {
  .bottom {
    display: flex;
    flex-direction: column;

    .user-panel-name {
      font-weight: 600;
      font-size: 14px;
    }

    .user-panel-mail {
      font-size: 12px;
    }
  }

  .icon {
    background: linear-gradient(
      86deg,
      rgb(95, 207, 229) 0%,
      rgb(27, 126, 143) 100%
    );
    width: 40px;
    height: 40px;
    border-radius: 100px;

    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      fill: #fff;
    }
  }
}

.header__list {
  .header-action-links {
    display: none;
  }

  @media (max-width: 1080px) {
    .header-action-links {
      display: flex;
    }
  }
}

// pop

.popup {
  display: none;
  position: fixed;
  background: white;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  border-radius: 5px;
  width: 250px;
  transition: right 0.5s ease-in-out; /* Плавное появление */

  pointer-events: none;
  opacity: 0;
  visibility: hidden;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-family: var(--font-manrope);

  @media (max-width: 1080px) {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.popup.show {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: all;
  opacity: 1;
  visibility: visible;
}
.popup-content {
  text-align: center;
}
.popup button {
  margin-top: 10px;
  padding: 5px 10px;
  background: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

//

.custom-popup {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  padding: 12px 24px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  z-index: 1000;
  animation: fadeInOut 6s;

  max-width: max-content;

  @media (max-width: 440px) {
    font-size: 12px;
  }
}

/* Красный попап для ошибок */
.custom-popup.error {
  background: #ff4d4d;
}

/* Зеленый попап для успешной авторизации */
.custom-popup.success {
  background: #28a745;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: translateX(-50%) translateY(-10px);
  }
  10% {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateX(-50%) translateY(-10px);
  }
}

.popup-container {
  @media (max-width: 440px) {
    * {
      font-size: 12px;
      font-weight: 400;
    }
  }
}

.custom-popup {
  text-align: center;

  @media (max-width: 1080px) {
    width: 351px;
    font-weight: 400;
    padding: 10px;
  }
}

//

.popup-delete {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  max-width: 50%;

  background-color: #fff;
  padding: 60px 30px 30px 30px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  z-index: 10;
  border-radius: 20px;

  -webkit-box-shadow: 1px 1px 19px 1px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 1px 1px 19px 1px rgba(0, 0, 0, 0.5);
  box-shadow: 1px 1px 19px 1px rgba(0, 0, 0, 0.5);

  visibility: hidden;
  opacity: 0;
  pointer-events: none;

  transition: 0.3s ease-in-out;

  width: 100%;

  @media (max-width: 1080px) {
    max-width: 70%;
  }

  @media (max-width: 768px) {
    max-width: 50%;
  }

  @media (max-width: 440px) {
    max-width: 88%;
  }

  .basket {
    width: 100px;
    height: 100px;
    margin: 0 auto;

    svg {
      width: 100%;
      height: 100%;
      fill: linear-gradient(146deg, rgb(95, 207, 229) 0%, rgb(15, 85, 97) 100%);
      stroke: linear-gradient(
        146deg,
        rgb(95, 207, 229) 0%,
        rgb(15, 85, 97) 100%
      );
      width: 120px;
    }
  }

  h4 {
    max-width: 70%;
    text-align: center;
    margin: 0 auto;

    @media (max-width: 440px) {
      max-width: 90%;
    }
  }

  &.active {
    visibility: visible;
    opacity: 1;
    pointer-events: all;
  }
}

.btn-delete-account {
  padding: 12px 20px;
  border-radius: 100px;
  font-size: 16px;
  color: #fff;

  margin: 0 auto;

  background: linear-gradient(146deg, rgb(231, 80, 80) 0%, rgb(199, 47, 47) 0%);

  opacity: 0.8;

  @media (min-width: 1080px) {
    &:hover {
      opacity: 1;
    }
  }

  @media (max-width: 1080px) {
    opacity: 1;
  }
}

.btn-close-delete-popup {
  position: absolute;
  right: 20px;
  top: 20px;
  path {
    fill: #000;
  }
}

.content-profile {
  margin-top: 20px;
}

.user-panel-tab-content-title {
  text-decoration: underline;
  font-weight: 300;
}

.aml-sup-b {
  @media (max-width: 440px) {
    font-size: 12px;
    font-weight: 400;
  }

  .aml-supp {
    text-decoration: underline;
  }
}

//

.content-form {
  gap: 20px;

  .user-panel-tab-form-inpit input {
    font-size: 12px !important;

    @media (max-width: 440px) {
      padding: 16px !important;
      font-size: 12px !important;
    }
  }

  .content-profile {
  }
}

.user-panel-tab-content-title {
  @media (max-width: 440px) {
    font-size: 16px !important;
    font-weight: 300 !important;
  }
}

.message-content {
  max-width: 90% !important;
}

.user-panel-tab-form-inpit span {
  @media (max-width: 440px) {
    font-size: 12px !important;
  }
}

.have-acc {
  text-align: center;
  display: flex;
  align-items: center;
  margin-top: 20px;
  gap: 12px;
  justify-content: center;

  h4 {
    color: #fff;
    font-size: 14px;
    font-weight: 400;

    @media (max-width: 440px) {
      font-size: 13px;
    }
  }

  a {
    color: #fff;
    font-size: 12px;
    font-weight: 300;
    display: block;
    text-decoration: underline;

    @media (max-width: 440px) {
      font-size: 11px;
    }
  }
}

.sign-in-help {
  margin-top: 30px;
  ul {
    display: flex;
    align-items: center;
    gap: 20px;

    margin-top: 10px;
    justify-content: center;

    li {
      img {
        @media (max-width: 440px) {
          width: 34px;
        }
      }
    }
  }
}

.container-xl {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.bottom-send-content-bank-acc-card,
.bottom-send-content-bank-acc-mail,
.bottom-send-content-bank-acc-telegram {
  font-size: 16px;
  font-weight: 500 !important;
  position: relative;
}

.ix-bank {
  display: flex !important;
  flex-wrap: wrap !important;
}

//

.footer-copyright {
  color: #000;
  text-align: center;
  padding-bottom: 20px;

  @media (max-width: 1080px) {
    padding-bottom: 12px;
  }
  p {
    font-size: 14px;
    text-align: center;

    @media (max-width: 1080px) {
      font-size: 12px;
    }

    @media (max-width: 440px) {
      font-size: 10px;
    }
  }
}

.country-time {
  background: linear-gradient(
    86deg,
    rgb(57, 161, 182) 0%,
    rgb(20, 103, 117) 100%
  );
  padding: 20px;

  display: none;

  &.active {
    display: block;
  }

  @media (max-width: 440px) {
    padding: 14px 10px;
  }

  p {
    text-align: center;
    color: #fff;
    font-weight: 500;
    max-width: 1080px;
    margin: 0 auto;
    display: block;
    padding-left: 12px;
    padding-right: 12px;

    @media (max-width: 1080px) {
      font-size: 14px;
    }

    @media (max-width: 440px) {
      font-size: 10px;
      padding-left: 0;
      font-weight: 300;
      padding-right: 0;
    }
  }
}

//

.brand-parent {
  display: flex;
  display: -webkit-flex;
  flex-wrap: nowrap;
  -webkit-flex-wrap: nowrap;
  align-items: center;
  -webkit-align-items: center;

  margin-bottom: 40px;

  @media (max-width: 440px) {
    margin-bottom: 20px;
  }
}
.brands-carousel {
  display: flex;
  display: -webkit-flex;
  flex-wrap: nowrap;
  align-items: center;
  -webkit-align-items: center;
  animation: animate 70s linear infinite;
}
.brands-carousel .slide-content {
  height: 100%;
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
}
.brands-carousel .slide-content a {
  height: 100%;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  white-space: nowrap;
  color: #808080;
  text-transform: uppercase;
  padding: 20px;
  width: 100%;
  transition: all 0.3s ease-in-out 0s;
}
.brands-carousel .slide-content a:hover,
.brands-carousel .slide-content a:active {
  @media (min-width: 1080px) {
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
  }
}

@keyframes animate {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-100%, 0, 0);
  }
}
@-webkit-keyframes animate {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-100%, 0, 0);
  }
}

.brands-carousel-usdt {
  display: flex;
  gap: 20px;
}

.brand-parent-usdt {
  display: flex;
  gap: 20px;
  margin-top: 0;
}

#livechat-eye-catcher img {
  display: none !important;
}

.btn-add-count-money {
  span {
    @media (max-width: 440px) {
      font-size: 13px;
    }
  }

  svg {
    @media (max-width: 440px) {
      height: 18px;
    }
  }
}

.btn-add-count-money {
  gap: 6px;
}

@media (max-width: 1440px) {
  .bg-circle {
    transform: scale(0.6);
  }

  .message__logo .logo-message {
    width: 100px !important;
  }
}

.bottom-send-content-bank-user {
  margin-top: 20px;

  .ixx-bank-name {
    span {
      font-size: 16px !important;
      font-weight: 500 !important;

      @media (max-width: 440px) {
        font-size: 14px !important;
      }
    }
  }
}

@media (max-width: 440px) {
  .bg-circle {
    transform: scale(0.9);
  }
}

.processing-info {
  color: #11b470;
  text-decoration: underline;

  @media (max-width: 440px) {
    font-size: 14px !important;
  }
}
