.testimonials {
  // .testimonials__inner

  &__inner {
  }

  // .testimonials__content

  &__content {
    margin: 60px 0 80px 0;
  }

  // .testimonials__content-item

  &__content-item {
    position: relative;

    background: #f6f7f9;
    padding: 20px;
    border-radius: 24px;

    @media (max-width: 768px) {
      border-radius: 14px;
    }

    .top {
      display: flex;
      align-items: center;
      gap: 8px;

      .testimonials__content-name {
        font-size: clamp(0.75rem, 0.685rem + 0.24vw, 0.875rem);
        position: relative;
        bottom: 2px;
      }
    }

    .center {
      p {
        font-size: clamp(0.688rem, 0.655rem + 0.12vw, 0.75rem);
        line-height: 155%;
        margin: 20px 0 12px 0;
      }
    }

    .bottom {
      span {
        opacity: 0.6;
        font-size: clamp(0.688rem, 0.655rem + 0.12vw, 0.75rem);
        font-weight: 400;
        text-decoration: underline;
      }
    }
  }

  // .testimonials__content-icon

  &__content-icon {
  }

  // .testimonials__content-name

  &__content-name {
  }
}

.testimonials-title {
  font-size: clamp(1.25rem, 1.119rem + 0.48vw, 1.5rem);
  font-family: var(--font-unbounded);
}

.testimonials-sbutitle {
  font-size: clamp(0.75rem, 0.619rem + 0.48vw, 1rem);
  line-height: 155%;
  font-weight: 400;
  max-width: 520px;
  margin: 20px 0 0 0;

  span {
    color: var(--primaru-color);
    font-weight: 700;
  }
}

.testimonials__star {
  display: flex;
  align-items: center;
  gap: 4px;
  position: absolute;
  right: 20px;
  top: 20px;

  img {
    width: 14px;
  }
}

.swiper-testimonials {
  @media (max-width: 768px) {
    padding: 100px;
    margin: -100px;
    padding-top: 70px;
    padding-bottom: 70px;
  }
}
